@model Department


@{
    ViewData["Title"] = "Edit Department";
}

<h1>Edit Department</h1>


<form asp-action="Edit" asp-controller="Department" >

    <div asp-validation-summary="ModelOnly" class="text-danger"> </div>


    @* For Rendering the components in the CreateEditDepartmentPartial *@
    <partial name="PartialViews/CreateEditDepartmentPartial" />



    <input type="submit" value="Save" class="btn btn-primary" /> | 
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section ValidateScriptsSection {
    <partial name="_ValidationScriptsPartial" />
    @* <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script> *@
}


