@model EmployeeViewModel

@{
    ViewData["Title"] = "Delete Employee";
}

<h1>Are you sure to delete this Employee ?</h1>

<br />
<br />


<form asp-action="Delete">

    @* for rendering the components from the DetailsDeleteEmployeePartial *@
    <partial name="PartialViews/DetailsDeleteEmployeePartial" />


    <input type="submit" value="Delete" class="btn btn-primary" /> |
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>

</form>

@section ValidateScriptsSection {
    <partial name="_ValidationScriptsPartial" />
    @* <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script> *@
}

