
@model Employee

@{
    ViewData["Title"] = "Employee Details";
}

<h1>Employee Details</h1>

<br />
<br />

<div>

    @* for rendering the components from the DetailsDeleteEmployeePartial *@
    <partial name="PartialViews/DetailsDeleteEmployeePartial" />

    <a asp-controller="Employee" asp-action="Index" class="btn btn-secondary">Back to list</a>

</div>

